apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: habit-tracker
  labels:
    release: prom
spec:
  selector:
    matchLabels:
      app: habit-tracker
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
  namespaceSelector:
    matchNames:
      - default